project: 
  fullPath: "CxServer/uCAC8lm2"
  origin: "jenkins"
sast: 
  engineConfiguration: "Korean"
  excludeFolders: \"_cvs, .svn, .hg, .git, .bzr, bin, obj, backup, node_modules\"
  includeExcludePattern: \"!**/*.DS_Store, **/*.java\"
  high: 30
  medium: 30
  low: 30
  critical : 0
  incremental: false
  preset: "All"
  privateScan: false
  enableSASTBranching: false
  masterBranchProjName: abce77SCA
  overrideProjectSetting : true
sca:
  fileInclude: "dll" 
  fileExclude: "nothing.jar" 
  pathExclude: "test"
  high: 300
  medium: 300
  low: 300
  critical : 1
